{% extends 'base.html' %}
{% block content %}
  <div class="container py-5">     
    <div class="row">
      {% for cat in cat_count %}
      <div class="col-sm" href='/'>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ cat.title }}</h5>
            <p class="card-text">{{ cat.count }}</p>
            <a href="#" class="btn btn-primary">Показать</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>  
{% endblock %}